@model Web.Models.Auth.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reestablecer Contraseña";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="col-lg-7">
    <div class="card shadow-lg border-0 rounded-lg">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Reestablecer Contraseña</h3></div>
        <div class="card-body">
            <form asp-action="ResetPassword" asp-controller="Auth" method="post" novalidate>
                <input asp-for="Token" type="hidden" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" placeholder="Crea una contraseña" />
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirma la contraseña" />
                    <label asp-for="ConfirmPassword"></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mt-4 mb-0">
                    <div class="d-grid"><button type="submit" class="btn btn-primary btn-block">Reestablecer Contraseña</button></div>
                </div>
            </form>
        </div>
        <div class="card-footer text-center py-3">
            <div class="small"><a asp-controller="Auth" asp-action="Login">¿Ya tienes una cuenta? Inicia sesión</a></div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
