@{
    ViewData["Title"] = "Sesión no válida";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<h1>Sesión no válida</h1>
<p>@ViewData["ErrorMessage"]</p>

<a href="/Account/Login">Volver al inicio de sesión</a>