@using Shared.Constants

<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Principal</div>

            @* Menú desplegable de Usuarios *@
            @if (User.IsInRole("AdminUsuarios"))
            {
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsuarios" aria-expanded="false" aria-controls="collapseUsuarios">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                    Usuarios
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseUsuarios" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a asp-controller="UserManagement" asp-action="AddUser" class="nav-link">Agregar Usuario</a>
                        <a asp-controller="UserManagement" asp-action="Index" class="nav-link">Ver Lista de Usuarios</a>
                    </nav>
                </div>
            }

            @* Menú desplegable de Inventario *@
            @if (User.IsInRole(Roles.AdminInventario) || User.IsInRole(Roles.AdminUsuarios))
            {
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseInventario" aria-expanded="false" aria-controls="collapseInventario">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-boxes-stacked"></i></div>
                    Inventario
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseInventario" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a asp-controller="Inventory" asp-action="RegisterProduct" class="nav-link">Agregar Producto</a>
                        <a asp-controller="Inventory" asp-action="Index" class="nav-link">Ver Inventario</a>
                    </nav>
                </div>
            }

            @* Donaciones Monetarias *@
            @if (User.IsInRole(Roles.AdminInventario) || User.IsInRole(Roles.AdminDonaciones))
            {
                <a asp-controller="Donation" asp-action="Index" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-hand-holding-dollar"></i></div>
                    Donaciones
                </a>
            }

            @* ========== COMENTADO: SECCIÓN DE INTERFAZ Y PÁGINAS ========= *@
            @*
            <div class="sb-sidenav-menu-heading">Interfaz</div>

            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Diseños
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="layout-static.html">Navegación Estática</a>
                    <a class="nav-link" href="layout-sidenav-light.html">Barra Lateral Clara</a>
                </nav>
            </div>

            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                Páginas
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                        Autenticación
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="login.html">Iniciar Sesión</a>
                            <a class="nav-link" href="register.html">Registrarse</a>
                            <a class="nav-link" href="password.html">Olvidé mi Contraseña</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                        Error
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="401.html">Página 401</a>
                            <a class="nav-link" href="404.html">Página 404</a>
                            <a class="nav-link" href="500.html">Página 500</a>
                        </nav>
                    </div>
                </nav>
            </div>

            <a class="nav-link" href="tables.html">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Tablas
            </a>
            *@
        </div>
    </div>

    <div class="sb-sidenav-footer">
        <div class="small">Conectado como:</div>
        @User.Identity.Name
    </div>
</nav>

